HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nb-configuration.xml
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### Mac ###
.DS_Store

### Git ###
*.orig

### Eclipse ###
.classpath
.project
.checkstyle
.settings/
*.launch

### Maven ###
work/
target/
classes/

### Spring ###
*.pid
*.springBeans

### GWT ###
*/.gwt
*/src/main/webapp/WEB-INF/classes/
